In [ ]:
######################## 복습 ########################

In [1]:
t1 = ()

In [10]:
t2 = (1,)

In [3]:
t3 = (1, 2, 3)

In [4]:
t4 = 1, 2, 3

In [5]:
t2 = 1

In [6]:
type(t2)

int

In [7]:
t3 = (1)

In [8]:
type(t3)

int

In [11]:
type(t2)

tuple

In [14]:
s2 = set("Hello")

In [15]:
s2

{'H', 'e', 'l', 'o'}

In [ ]:
# 집합 자료형

s1 = set([1,2,3])
s2 = set("Hello")

# 특징
- 중복을 허용하지 않는다.
- 순서가 없다.(Unordered)

s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

# 교집합

s1 & s2
s1.intersection(s2)
{4, 5, 6}

# 합집합

s1 | s2
s1.union(s2)
{1, 2, 3, 4, 5, 6, 7, 8, 9}

# 차집합

s1 - s2
s1.difference(s2)
{1, 2, 3}
s2 - s1
s2.difference(s1)
{8, 9, 7}

# 1개만 추가하기(add)

s1 = set([1, 2, 3])
s1.add(4)
s1
{1, 2, 3, 4}

# 값 여러개 추가하기(update)

s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1
{1, 2, 3, 4, 5, 6}

# 특정 값 제거하기(remove)

s1 = set([1, 2, 3])
s1.remove(2)
s1
{1, 3}

In [ ]:
# while문 구조

treeHit = 0
while treeHit < 10:
    treeHit = treeHit +1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

# else, break

coffee = 10
while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money -300))
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break
        
# 맨 처름으로 돌아가기

a = 0
while a < 10:
    a = a + 1
    if a % 2 == 0: continue
    print(a)
...
1
3
5
7
9

In [ ]:
# for 문

test_list = ['one', 'two', 'three'] 
for i in test_list: 
    print(i)
... 
one 
two 
three

# 다양한 for 문

a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
    print(first + last)
...
3
7
11

# for문의 응용

marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks: 
    number = number +1 
    if mark >= 60: 
        print("%d번 학생은 합격입니다." % number)
    else: 
        print("%d번 학생은 불합격입니다." % number)
...
1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

# for문과 continue

marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks: 
    number = number +1 
    if mark < 60:
        continue 
    print("%d번 학생 축하합니다. 합격입니다. " % number)
...
1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

# for문과 함께 자주 사용하는 range 함수
# -range(10)은 0부터 10 미만의 숫자를 포함하는 range 객체를 만들어 준다.

add = 0 
for i in range(1, 11): 
    add = add + i 
... 
print(add)
55

for i in range(2,10):        # ①번 for문
    for j in range(1, 10):   # ②번 for문
        print(i*j, end=" ") 
    print('') 
... 
2 4 6 8 10 12 14 16 18 
3 6 9 12 15 18 21 24 27 
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54 
7 14 21 28 35 42 49 56 63 
8 16 24 32 40 48 56 64 72 
9 18 27 36 45 54 63 72 81

In [ ]:
################ 2장 연습문제 ###############

# 1. 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

# 국어	80
# 영어	75
# 수학	55

>>> a = 80
>>> b = 75
>>> c = 55
>>> (a+b+c)/3
70.0

# 2. 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

>>> 1 % 2
1
>>> 2 % 2
0
>>> 3 % 2
1
>>> 4 % 2
0

# 3. 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

>>> pin = "881120-1068234"
>>> yyyymmdd = pin[:6]
>>> num = pin[7:]
>>> print(yyyymmdd)
881120
>>> print(num)
1068234

# 4. 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

>>> pin = "881120-1068234"
>>> print(pin[7])

# 5. 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

>>> a = "a:b:c:d"
>>> b = a.replace(":", "#")
>>> print(b)
'a#b#c#d'

# 6. [1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들어보자.

>>> a = [1, 3, 5, 4, 2]
>>> a.sort( )
>>> a.reverse( )
>>> print(a)
[5, 4, 3, 2, 1]

# 7. ['Life', 'is', 'too', 'short'] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자.

>>> a = ['Life', 'is', 'too', 'short']
>>> result = " ".join(a)
>>> print(result)

# 8. (1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자.

>>> a = (1, 2, 3)
>>> a = a + (4,)
>>> print(a)
(1, 2, 3, 4)

# 9. 다음과 같은 딕셔너리 a가 있다. 다음 중 오류가 발생하는 경우는 어떤 경우인가? 그리고 그 이유를 설명해 보자.

>>> a = dict()
>>> a
{}

(1) a['name'] = 'python'
(2) a[('a',)] = 'python'
(3) a[[1]] = 'python'
(4) a[250] = 'python'

>>> a[[1]] = 'python'
Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
TypeError: unhashable type: 'list'

# 10. 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

>>> a = {'A':90, 'B':80, 'C':70}
>>> result = a.pop('B')
>>> print(a)
{'A':90, 'C':70}
>>> print(result)
80

# 11. a 리스트에서 중복된 숫자들을 제거해 보자.

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

>>> aSet = set(a)     # a 리스트를 집합자료형으로 변환
>>> b = list(aSet)    # 집합자료형을 리스트 자료형으로 다시 변환
>>> print(b)
[1,2,3,4,5]

# 12. 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언 한 후 a의 두 번째 요솟값을 변경하면 b의 값은 어떻게 될까? 그리고 이런 결과가 나오는 이유에 대해서 설명해 보자.

>>> a = b = [1, 2, 3]
>>> a[1] = 4
>>> print(b)
[1, 4, 3]
a와 b 변수는 모두 동일한 [1, 2, 3]이라는 리스트 객체를 가리키고 있기 때문이다.

In [16]:
a = 0
while a < 10:
    a = a + 1
    print(a)

1
2
3
4
5
6
7
8
9
10

In [17]:
#######################################
# for
#######################################

In [18]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [19]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number = number + 1
    if mark >= 60:
        print("%d번 학생은 합격입니다." %number)
    else:
        print("%d번 학생은 불합격입니다." %number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [20]:
marks = [90, 25, 67, 45, 80]

number = 0

for mark in marks:          # mark에 marks를 대입
    number = number + 1     # number에 + 1
    if mark < 60:           # 60점 미만이면
        continue           # 처음으로
    print("%d번 학생 축하합니다. 합격입니다." %number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [26]:
for i in range(1, 11):   # 1부터 11 미만
    print(i)

1
2
3
4
5
6
7
8
9
10

In [55]:
for i in range(1, 11):
    if i % 2 == 1:            # i 의 나머지가 1이면
        print(i)               # 출력

1
3
5
7
9

In [31]:
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):       # len = 문자를 숫자형으로
    print(number)

0
1
2
3
4

In [34]:
# ★★★★★ 많이 사용 ★★★★★
for i in range(2, 10):                 # 2부터 10 미만
    for j in range(1, 10):             # 1부터 10 미만
        print(i * j, end = " ")        # end = " " (줄을 넘기지 않고 " "출력)
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [60]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i, "*", j, "=", i * j, end = " ")
    print('')

2 * 1 = 2 2 * 2 = 4 2 * 3 = 6 2 * 4 = 8 2 * 5 = 10 2 * 6 = 12 2 * 7 = 14 2 * 8 = 16 2 * 9 = 18
3 * 1 = 3 3 * 2 = 6 3 * 3 = 9 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27
4 * 1 = 4 4 * 2 = 8 4 * 3 = 12 4 * 4 = 16 4 * 5 = 20 4 * 6 = 24 4 * 7 = 28 4 * 8 = 32 4 * 9 = 36
5 * 1 = 5 5 * 2 = 10 5 * 3 = 15 5 * 4 = 20 5 * 5 = 25 5 * 6 = 30 5 * 7 = 35 5 * 8 = 40 5 * 9 = 45
6 * 1 = 6 6 * 2 = 12 6 * 3 = 18 6 * 4 = 24 6 * 5 = 30 6 * 6 = 36 6 * 7 = 42 6 * 8 = 48 6 * 9 = 54
7 * 1 = 7 7 * 2 = 14 7 * 3 = 21 7 * 4 = 28 7 * 5 = 35 7 * 6 = 42 7 * 7 = 49 7 * 8 = 56 7 * 9 = 63
8 * 1 = 8 8 * 2 = 16 8 * 3 = 24 8 * 4 = 32 8 * 5 = 40 8 * 6 = 48 8 * 7 = 56 8 * 8 = 64 8 * 9 = 72
9 * 1 = 9 9 * 2 = 18 9 * 3 = 27 9 * 4 = 36 9 * 5 = 45 9 * 6 = 54 9 * 7 = 63 9 * 8 = 72 9 * 9 = 81

In [61]:
a = [1, 2, 3, 4]
result = []
for num in a:
    result.append(num * 3)
print(result)

[3, 6, 9, 12]

In [63]:
a = [1, 2, 3, 4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [64]:
####################
# 3장 연습문제
####################

In [65]:
# 1. 다음 코드의 결괏값은 무엇일까?

a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")
    
"shirt"

# 2. while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

for i in range(1, 1000):
    if i % 3 == 0:
        i + i
print(i)

shirt
999

In [106]:
sum = 0                       # 값을 저장하는 곳
i = 1                            # 1부터 시작

while i <= 1000:                # i가 1000 이하면
    if i % 3 == 0:              # i가 3의 배수이면
        sum = sum + i     # 3의 배수를 sum에 저장
    i = i + 1               # i + 1

print(sum)                  # sum을 출력

166833

In [90]:
save = 0

for i in range(1,1000):
    if i % 3 == 0:
        save = save + i
        
print(save)

166833

In [105]:
i = 1

while i <= 5:
    print(i * "*")
    i = i + 1

*
**
***
****
*****

In [109]:
i = 0

while True:
    i = i + 1
    if i > 5:break
    print(i * "*")

*
**
***
****
*****

In [110]:
# for 문을 사용해서 1부터 100까지의 숫자들의 합을 구하시오.

In [121]:
sum = 0                        # 값을 저장하는 곳

for i in range(1, 101):        # i가 1이상 101미만이면
    sum = sum + i              # i + i값을 sum에 저장
print(sum)                     # sum을 출력

5050

In [122]:
def add(a, b):
    return a + b

In [123]:
a = 3
b = 4
c = add(a,b)

In [124]:
print(c)

7

In [125]:
d = add(1, 2)

In [126]:
print(d)

3

In [127]:
def add(a, b):
    result = a + b
    return result

In [128]:
a = add(3, 4)
print(a)

7

In [129]:
def say():
    return 'Hi'

In [130]:
a = say()
print(a)

Hi

In [131]:
def add(a,b):
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [132]:
add(3, 4)

3, 4의 합은 7입니다.

In [133]:
a = add(3, 4)
print(a)

3, 4의 합은 7입니다.
None

In [134]:
def say():
    print('hi')

In [135]:
say()

hi

In [138]:
def add_many(*args):         # *args는 임의로 정한 변수이름
    result = 0
    for i in args:
        result = result + i
    return result

In [139]:
result = add_many(1, 2, 3)
print(result)

6

In [140]:
result = add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(result)

55

In [145]:
def add_mul(choice, *args):
    if choice == 'add':
        result = 0
        for i in args:
            result = result + i
    elif choice == 'mul':
        result = 1
        for i in args:
            result = result * i
    return result

In [146]:
result = add_mul('add', 1, 2, 3, 4, 5)
print(result)

15

In [147]:
result = add_mul('mul', 1, 2, 3, 4, 5)
print(result)

120

In [148]:
def add_and_mul(a,b):
    return a + b, a * b

In [149]:
result = add_and_mul(3, 4)

In [150]:
print(result)

(7, 12)

In [152]:
result1, result2 = add_and_mul(3, 4)

In [153]:
print(result1)

7

In [154]:
print(result2)

12

In [155]:
def add_and_mul(a, b):
    return a + b
    return a * b

In [156]:
result = add_and_mul(2, 3)

In [157]:
print(result)

5

In [158]:
def say_myself(name, old, man = True):
    print("나의 이름은 %s 입니다." %name)
    print("나이는 %d살 입니다." %old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [159]:
say_myself("박응용", 27)

나의 이름은 박응용 입니다.
나이는 27살 입니다.
남자입니다.

In [160]:
say_myself("박응용", 27, True)

나의 이름은 박응용 입니다.
나이는 27살 입니다.
남자입니다.

In [161]:
say_myself("박응선", 27, False)

나의 이름은 박응선 입니다.
나이는 27살 입니다.
여자입니다.

In [162]:
a = 1
def vartest(a):
    a = a + 1

In [163]:
vartest(a)

In [164]:
print(a)

1

In [165]:
# 지역 변수 : 특정 범위 안에서만 통용
# 전역 변수 : 전체에서 통용

In [166]:
def vartest(a):
    a = a + 1

In [167]:
vartest(3)

In [168]:
print(a)

1

In [169]:
a = 1
def vartest(a):
    a = a + 1
    return a

a = vartest(a)
print(a)

2

In [170]:
a = 1
def vartest():
    global a
    a = a + 1
    
vartest()

In [171]:
print(a)

2

In [172]:
add = lambda a, b : a + b
result = add(3, 4)
print(result)

7

In [175]:
a = input()                     # input은 무조건 문자로 출력

Life is too short, you need python

In [174]:
a

'Life is too short, you need python'

In [176]:
number = input("숫자를 입력하세요 : ")

숫자를 입력하세요 : 123

In [177]:
a = 'python'

In [178]:
print(a)

python

In [179]:
a = [1, 2, 3]

In [180]:
print(a)

[1, 2, 3]

In [182]:
print('life' 'is' 'too short')

lifeistoo short

In [183]:
print('life' + 'is' + 'too short')

lifeistoo short

In [184]:
print('life', 'is', 'too short')

life is too short

In [185]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [186]:
for i in range(10):
    print(i , end = " ")

0 1 2 3 4 5 6 7 8 9

In [188]:
########### 파일 읽고 쓰기 ##############

In [189]:
# 파일 생성하기

In [187]:
f = open("새파일.txt", "w")
f.close()

In [190]:
# r 	읽기모드 - 파일을 읽기만 할 때 사용
# w 	쓰기모드 - 파일에 내용을 쓸 때 사용
# a 	추가모드 - 파일의 마지막에 새로운 내용을 추가 시킬 때 사용

In [191]:
# 윈도우 버튼 오른쪽에 돋보기 단추 클릭
# 검색에 cmd 치고 클릭

# 관리자 명령 프롬프트

dir : 디렉토리 안에 있는파일의 목록 확인
cd 디렉토리명 : 특정 디렉토리 안으로 이동
md 디렉토리명 : 디렉토리 만들기
rd 디렉토리명 : 디렉토리 삭제
cd.. : 디렉토리에서 빠져 나올때

SyntaxError: invalid syntax (<ipython-input-191-884be2e82a9e>, line 6)

In [195]:
# readline()을 사용해서 파일의 첫 번째 줄을 읽어 출력하는 경우이다.

f = open('새파일.txt', 'w')
for i in range(1, 10):
    data = '%d번째 줄입니다. \n' % i
    f.write(data)
    
f.close()

In [205]:
f = open("새파일.txt", 'r')
line = f.readline()
print(line)

f.close()

1번째 줄입니다.

In [206]:
f = open("새파일.txt", 'r')
while True:
    line = f.readline()
    if not line: break
    print(line)
    
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

In [207]:
# readlines 함수는 파일의 모든 줄을 읽어서 각각의 줄을 요소로 갖는 리스트로 돌려준다

f = open('새파일.txt', 'r')
lines = f.readlines()
for line in lines:
    print(line)
    
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

In [212]:
f = open("새파일.txt", 'a')
for i in range(11, 20):
    data = '%d번째 줄입니다. \n' % i
    f.write(data)
    
f.close()

In [213]:
# dos 명령어를 사용해서 새파일.txt 열어서 확인하기

In [215]:
# C:\Users\an268\Documents\PythonBasic>type 새파일.txt

In [ ]:
# 4장 연습문제

In [216]:
def is_odd(num):                 # 값을 num에 대입
    if i % 2 == 1:               # i의 나머지 값이 1이면
        return print("홀수")     # return해서 홀수를 출력
    else:                        # 그것이 아니면
        return print("짝수")    # 짝수를 출력
    
is_odd(7)

홀수

In [221]:
def average(*args):               # 몇개의 함수가 들어올지 모를경우 *args
    sum = 0                        # sum의 값을 초기화
    for i in args:
        sum = sum + i              # sum에 합한 점수를 대입
    return sum / len(args)         # 합한 값 / 값의 갯수
    
average(1, 2, 3)

2.0

In [226]:
input1 = int(input("첫번째 숫자를 입력하세요:"))      # int 문자로 변형
input2 = int(input("두번째 숫자를 입력하세요:"))

total = input1 + input2
print("두 수의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:1243
두번째 숫자를 입력하세요:482
두 수의 합은 1725 입니다

In [230]:
print("you" "need" "python")
print("you"+"need"+"python")
print("you", "need", "python")
print("".join(["you", "need", "python"]))

youneedpython
youneedpython
you need python
youneedpython

In [240]:
f1 = open("test.txt", 'w')
f1.write("Life is too short")
f1.close()                           # 열린 파일 객체를 닫는다.

f2 = open("test.txt", 'r')
print(f2.read())
f2.close()

Life is too short

In [236]:
D

Life is too short