In [2]:
1 + 1

2

1 + 2

In [3]:
3/2.4

1.25

In [4]:
3*9

27

In [5]:
a = 1

In [6]:
b = 2

In [7]:
a + b

3

In [8]:
a = 'Python'

In [10]:
print(a)

Python

In [11]:
a = 3
if a > 1:
    print('a is greater than 1')

a is greater than 1

In [12]:
a = 1
if a > 1:
    print('a is greater than 1')

In [13]:
for a in [1,2,3]:
    print(a)

1
2
3

In [14]:
i = 0
while i < 3:
    i = i + 1
    print(i)

1
2
3

In [15]:
def add(a,b):      # 함수 정의
    return a + b

add(3,4)

7

In [16]:
#############################숫자형#########################

In [17]:
# 나머지 연산자

In [18]:
3 % 7

3

In [19]:
12 % 2             # 2로 나눈 나머지가 0 이면 항상 짝수

0

In [20]:
13 % 2             # 2로 나눈 나머지가 1이면 항상 홀수

1

In [21]:
30 % 5             # 특정 수로 나눈 나머지가 0이면 그 수의 배수이다.

0

In [22]:
7 / 4  # 나머지

1.75

In [23]:
7 // 4    # 몫

1

In [24]:
#######################문자형###############################

In [25]:
"Hello World"

'Hello World'

In [26]:
'Python is fun'

'Python is fun'

In [27]:
'''You need Python'''

'You need Python'

In [30]:
"Python's favorite food is perl"    # 작은 따옴표 표시

"Python's favorite food is perl"

In [31]:
'"Python is very easy." he says.'     # 큰 따옴표 표시

'"Python is very easy." he says.'

In [32]:
'Python\'s favorite food is perl'       # \ 뒤는 문자로 인식

"Python's favorite food is perl"

In [33]:
"\"Python is very easy. \" he says."

'"Python is very easy. " he says.'

In [42]:
multiline = "Life is too short\nYou need Python"

In [43]:
multiline

'Life is too short\nYou need Python'

In [37]:
multiline = '''
Life is too short
You need Python
'''

In [38]:
multiline

'\nLife is too short\nYou need Python\n'

In [39]:
print(multiline)

Life is too short
You need Python

In [44]:
head = 'Python'
tail = ' is fun!'

In [45]:
head + tail

'Python is fun!'

In [46]:
a = 'Python'

In [47]:
a * 2

'PythonPython'

In [49]:
print("=" * 50)
print("My program")
print("=" * 50)

==================================================
My ptogram
==================================================

In [52]:
a = 'Life is'
len(a)   # 문자 길이 값을 구하는 연산자 (" " 공백도 포함)

7

In [56]:
a = 'Life is too short, You need Python'

In [55]:
a[3]        # 파이썬은 0부터 시작

'e'

In [58]:
a[-1]      # -1은 맨 뒷자리

'n'

In [60]:
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [62]:
b = a[0:4]    # 0이상부터 4미만을 입력
b

'Life'

In [64]:
a[5:7]

'is'

In [65]:
a[19:]

'You need Python'

In [66]:
a[:17]

'Life is too short'

In [67]:
a[:]

'Life is too short, You need Python'

In [68]:
a[19:-7]

'You need'

In [69]:
a = '20010331Rainy'

In [70]:
date = a[:8]

In [71]:
date

'20010331'

In [72]:
weather = a[8:]

In [73]:
weather

'Rainy'

In [77]:
"I eat %d apples." % 3            # 숫자를 대입할 때에는 %d 문자를 대입할 때에는 %s

'I eat 3 apples.'

In [75]:
"I eat %d apples." % 10

'I eat 10 apples.'

In [76]:
"I eat %s apples." % "five"

'I eat five apples.'

In [79]:
number = 3
'I eat %d apples.' % number

'I eat 3 apples.'

In [81]:
number = 10
day = "three"
'i ate %d apples. so I was sick for %s days' % (number, day)

'i ate 10 apples. so I was sick for three days'

In [82]:
"%10s" % "hi"

'        hi'

In [83]:
"%-10sjane" % "hi"

'hi        jane'

In [84]:
'%0.4f' % 3.42134234

'3.4213'

In [85]:
'%10.4f' % 3.42134234

'    3.4213'

In [87]:
'I eat {0} apples' .format('3')

'I eat 3 apples'

In [88]:
'I eat {0} apples' .format('five')

'I eat five apples'

In [90]:
number = 10
day = 'three'
'I eat {0} apples. so I was sick for {1} days'. format(number, day)

'I eat 10 apples. so I was sick for three days'

In [92]:
'I eat {number} apples. so I was sick for {day} days'. format(number = 10, day = 3)

'I eat 10 apples. so I was sick for 3 days'

In [94]:
'I ate {0} apples. so I was sick for {day} days.'. format(10, day = 3)

'I ate 10 apples. so I was sick for 3 days.'

In [95]:
'{0:<10}'. format('hi')

'hi        '

In [96]:
'{0:^10}'. format('hi')

'    hi    '

In [98]:
'{0:=^10}'. format('hi')

'====hi===='

In [99]:
'{0:!^10}'. format('hi')

'!!!!hi!!!!'

In [102]:
a = "hobby"
a.count('b')       # a에서 'b'의 수 구하기

2

In [108]:
a = 'Python is the best choice'
a.find('b')            # a에서 'b'가 몇번째에 있는지 구하기

14

In [105]:
a.find('k')          # 존재하지 않은 값은 -1로 표현

-1

In [106]:
a = 'Life is too short'

In [115]:
a.index('s')

8

In [111]:
','. join('abcd')      # 문자 사이에 ','를 삽입

'a,b,c,d'

In [110]:
' '. join('abcd')

'a b c d'

In [119]:
a = "hi"
a.upper()         # 소문자를 대문자로 표현

'HI'

In [120]:
a = "HI"
a.lower()         # 대문자를 소문자로 표현

'hi'

In [118]:
a

'HI'

In [121]:
a = ' hi '
a.strip()    # a에 있는 ' '공백을 제거,  lstrip(왼쪽 공백 제거), rstrip(오른쪽 공백 제거)

'hi'

In [123]:
a = 'Life is too short'
a.replace('Life', 'Your leg')       # a에 있는 'Life'를 'Your leg'로 변환

'Your leg is too short'

In [124]:
a = "Life is too short"
a.split()         # a에 있는 문자열 나누기

['Life', 'is', 'too', 'short']

In [126]:
b = "a:b:c:d"
b.split(':')        # b에 있는 문자열을 ':' 기준으로 나누기

['a', 'b', 'c', 'd']

In [127]:
######################리스트###################

In [128]:
# 리스트 이름 = [요소1, 요소2, 요소3 ....]  대괄호 주의

a = []
b = [1,2,3]
c = ['life', 'is', 'too', 'shrot']
d = [1,2,'Life', 'is']
e = [1,2,['Life','is']]

In [129]:
a = [1,2,3]
a

[1, 2, 3]

In [130]:
a[0]

1

In [131]:
a[0] + a[2]

4

In [132]:
a[-1]

3

In [133]:
a = [1,2,3,['a','b','c']]

In [134]:
a[0]

1

In [135]:
a[-1]

['a', 'b', 'c']

In [136]:
a[3]

['a', 'b', 'c']

In [137]:
a[-1][0]

'a'

In [139]:
a = [1,2,3,4,5]
a[0:2]   # 0 이상 2 미만

[1, 2]

In [140]:
a = [1,2,3]
b = [4,5,6]

In [141]:
a + b

[1, 2, 3, 4, 5, 6]

In [143]:
a = [1,2,3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [144]:
a = [1,2,3]
len(a)      # a의 문자수

3

In [145]:
str(a[2]) + 'hi'

'3hi'

In [146]:
a[2]

3

In [147]:
str(a[2])

'3'

In [150]:
a = [1,2,3]

In [151]:
a[2] = 4

In [152]:
a

[1, 2, 4]

In [153]:
a = [1,2,3,4,5]
del a[2:]
a

[1, 2]

In [160]:
a = [1,2,3]
a.append(4)    # a 리스트에 4를 추가

In [155]:
a

[1, 2, 3, 4]

In [159]:
a.append([5,6])   # a 리스트에 리스트[5,6]을 추가

In [157]:
a

[1, 2, 3, 4, [5, 6]]

In [166]:
a = [1,4,3,2]
a.sort()     # a의 문자를 순서대로 정렬

In [162]:
a

[1, 2, 3, 4]

In [163]:
a = ['a', 'c', 'b']
a.reverse()        # a의 문자를 뒤집기

In [164]:
a

['b', 'c', 'a']

In [170]:
a = ['a','c','b']
a.sort()
a.reverse()

In [171]:
a

['c', 'b', 'a']

In [174]:
a = ['a','b','c']
a.index('c')         # a 리스트에 c가 몇번째에 있는지 출력

2